extends layout
block content
  div.container.col
    h1 Criar turma
    form( method="POST", action="/criarturma").form-horizontal
      label Disciplina
      select(name="disciplina").form-control
        -if(disciplina)
          -each item in disciplina
            option(value=item.id )= item.nomeDisciplina
      input(type="text", name="codigo").form-control
      input(type="submit", name="criar").btn
    h1 Gerenciar turmas
    table.table
      thead
        -if(turmasEmAberto)
          -each value, key in turmasEmAberto[0]
            th= key
      tbody
        -each item in turmasEmAberto
          tr
          -each value, key in item
            td= value
    h2 Turmas
    -if(turmasEmAberto)
      -each item in turmasEmAberto
        div.container
          h1 #{item.codigo}
          h3 Disciplina: #{item.nomeDisciplina}
          h3 Horarios: 
          h3 #{item.inicio1} - #{item.fim1}
          h3 #{item.inicio2} - #{item.fim2}
          h4 