extends layout

block content
    h1 Tabela de usuarios
    table.table
      thead
        tr
        - each item in fields
          th= item.name          
      tbody
        - each item in rows
          tr
           td= item.iduser
           td= item.name
           td= item.password
           td= item.group
